
/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили для контейнера приложения */
#app {
    margin: 20px;
}

/* Стили для таблицы со списком студентов */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок таблицы */
.caption {
    text-align: center;
    margin-bottom: 10px;
}

/* Заголовок и элементы строки таблицы */
.header, .row {
    display: flex;
}

.header-item, .row-item {
    flex: 1;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Стили для кнопок */
.button {
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
}

/* Стили для форм добавления, удаления и редактирования студентов */
.add-form {
    margin-top: 20px;
}

/* Стили для секций в формах */
section {
    margin-bottom: 20px;
}

/* Стили для контейнера с кнопками в формах */
.button-container {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

